<%- include ../header.ejs %>

<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Pizzas and Calzones</h1>
            <p>Our pizzas are about 10 inches wide and you choose the base! Calzones come with your choice of dipping
                sauce!</p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
              <h2>Cheese</h2>
              <p>Basic cheese pizza with WeatherTech's tomato sauce. Topped with mozzarella.
                  <br>
                  Pizza: $4.89
                  <br>
                  Calzone $5.89
              </p>
          </div>
          <div class="col-md-4">
              <h2>Pepperoni</h2>
              <p>Classic pepperoni pizza with WeatherTech's tomato sauce. Topped with mozzarella and pepperoni.</p>
          </div>
          <div class="col-md-4">
              <h2>BBQ Chicken</h2>
              <p>Bring the barbeque right to your pizza! Topped with mozzarella, bacon, chicken, onions, and has a BBQ sauce base.</p>
          </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Meat Lovers</h2>
                <p>Not recomended for vegetarians. Topped with mozzarella, sausage, ham, and pepperoni. </p>
            </div>
            <div class="col-md-4">
                <h2>Hawaiian Pizza</h2>
                <p>The only type of pizza that must be forged in the depths of hell. Topped with mozzarella, pineapple, and ham.</p>
            </div>
            <div class="col-md-4">
                <h2>Margherita</h2>
                <p>Back to the basics. Topped with mozzarella, tomatoes, garlic, and basil.</p>
            </div>
        </div>

      <div class="row">
        <div class="col-md-4">
            <h2>Vegetarian</h2>
            <p>Not recomended for meat lovers. Topped with mozzarella, spinach, bell peppers, and mushrooms. </p>
        </div>
        <div class="col-md-4">
            <h2>Vegan</h2>
            <p>Made with vegan ingredients only. Topped with tomatoes, garlic, black olives, and basil. <i>Not available in calzone!</i> </p>
        </div>
        <div class="col-md-4">
        </div>
      </div>

      <div class="order-button-container">
          <div class="order-button">
            <a href="orders">Place an order now!</a>
          </div>
      </div>
    </div>
    
<%- include ../footer.ejs %>



        