<%- include ../header.ejs %>

<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Sandwiches</h1>
            <p>Choose your bread and dressing! Can be toasted or not toasted.</p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6" style="background-color: gainsboro; border-radius: 15px">
                <h2>Bread Choices</h2>
                <p>White Baguette, Wheat Baguette, White Ciabatta, Potato Rosemary Ciabatta, Focaccia, 7-Grain</p>
            </div>
            <div class="col-md-6" style="background-color: salmon; border-radius: 15px">
                <h2>Condiments</h2>
                <p>Ranch, Spicy Ranch, Mustard, Brown Mustard, Mayo, BBQ, Hot Sauce, Pesto, Hummus, Honey Mustard, Italian, Avocado</p>
            </div>
        </div>
        
        <br>

        <div class="row">
            <div class="col-md-4">
                <h2>Baker Bacon</h2>
                <p>Comes with bacon, pepper jack, lettuce, tomato, and basalmic vinegar. <i>Toasted only!</i></p>
            </div>
            <div class="col-md-4">
                <h2>BBQ Chicken</h2>
                <p>Comes with chicken, bacon, mozzarella, BBQ sauce, lettuce, tomato, and onion.</p>
            </div>
            <div class="col-md-4">
                <h2>Classic BLT</h2>
                <p>Comes with bacon, lettuce, and tomato. <i>Toasted only!</i></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Classic Italian</h2>
                <p>Comes with pepperoni, salami, ham, provolone, lettuce, tomato, onion, Italian dressing, and
                    salt/pepper. </p>
            </div>
            <div class="col-md-4">
                <h2>Darly Divine</h2>
                <p>Comes with chicken, marinara sauce, mozzarella, parmesan, spinach, and tomato. <i>Toasted only!</i></p>
            </div>
            <div class="col-md-4">
                <h2>Farrand Fodder</h2>
                <p>Comes with basil pesto, mozzarella, spinach, cucumber, tomato, and hummus.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Hallett Ham</h2>
                <p>Comes with ham, cheddar, lettuce, and tomato. </p>
            </div>
            <div class="col-md-4">
                <h2>Libby Licious</h2>
                <p>Comes with fontina, mozzarella, and parmesan. <i>Toasted only!</i> </p>
            </div>
            <div class="col-md-4">
                <h2>Parisian Grilled Cheese</h2>
                <p>Comes with fontina, basalmic onions, and tomato. <i>Toasted only!</i></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Roast Beef Pepper Melt</h2>
                <p>Comes with roast beef, bell peppers, cheddar, lettuce, tomato, and onion. <i>Toasted only!</i> </p>
            </div>
            <div class="col-md-4">
                <h2>Tofu Mozzarella</h2>
                <p>Comes with tofu, mozzarella, lettuce, tomato, and basalmic onion. <i>Toasted only!</i> </p>
            </div>
            <div class="col-md-4">
                <h2>Tuna Melt</h2>
                <p>Comes with tuna salad, swiss, lettuce, tomato, and onion. <i>Toasted only!</i></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Turkey Bacon Club</h2>
                <p>Comes with turkey, bacon, provolone, lettuce, tomato, and onion. </p>
            </div>
            <div class="col-md-4">
                <h2>Turkey Jalapeno Melt</h2>
                <p>Comes with turkey, pepper jack, jalapenos, lettuce, tomatoes, and onion. </p>
            </div>
            <div class="col-md-4">
                <h2>Veggie Club</h2>
                <p>Comes with spinach, bell peppers, mushrooms, cucumbers, lettuce, tomato, and basalmic onion. </p>
            </div>
        </div>
      </div>

      <div class="order-button-container">
          <div class="order-button">
            <a href="orders">Place an order now!</a>
          </div>
      </div>



<%- include ../footer.ejs %>