<%- include header.ejs %>

<div class="food-labels">
  <a href="store/sandwiches" ><span id="sandwich-label">SANDWICHES<i class="material-icons">&#xe5cc;</i></span></a>
  <a href="store/pizzas"><span id="pizza-label">PIZZAS<i class="material-icons">&#xe5cc;</i></span></a>
</div>

<section class="index-main">
  <div class="food-container">
    <div id="sandwich1" class="food-item">
      <p class="item-name">Baker Bacon</p>
    </div>
    <div id="sandwich2" class="food-item">
      <p class="item-name">BBQ Chicken</p>
    </div>
    <div id="sandwich3" class="food-item">
      <p class="item-name">BLT</p>
    </div>
    <div id="sandwich4" class="food-item">
      <p class="item-name">Italian</p>
    </div>
    <div id="sandwich5" class="food-item">
      <p class="item-name">Darley Divine</p>
    </div>
    <div id="sandwich6" class="food-item">
      <p class="item-name">Farrand Fodder</p>
    </div>
  </div>
  <div class="food-container">
    <div id="pizza1" class="food-item">
      <p class="item-name">Cheese</p>
    </div>
    <div id="pizza2" class="food-item">
      <p class="item-name">Pepperoni</p>
    </div>
    <div id="pizza3" class="food-item">
      <p class="item-name">BBQ Chicken</p>
    </div>
    <div id="pizza4" class="food-item">
      <p class="item-name">Meat Lovers</p>
    </div>
    <div id="pizza5" class="food-item">
      <p class="item-name">Hawaiian</p>
    </div>
    <div id="pizza6" class="food-item">
      <p class="item-name">Margherita</p>
    </div>
  </div>
</section>

<%- include footer.ejs %>